    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Impulsando tu Evolución Digital</h2>
              <br/>
              <br/>
                <p>En <strong>ColSIT</strong>, diseñamos el futuro tecnológico de tu negocio. No solo implementamos herramientas; creamos ecosistemas digitales escalables y seguros que puedes consultar en nuestro <a href="#servicios">portafolio de servicios</a>. Nuestro enfoque permite que tu equipo se concentre en innovar y crecer.</p>
                <p>Nuestra metodología ágil es impulsada por nuestro <a href="#equipo">equipo de expertos consultores</a>.</p>
                <p>Esta propuesta estratégica incluye soluciones de infraestructura por <a href="#partners">nuestros aliados tecnológicos</a>.</p>
                <p>Nuestra consultoría incluye desarrollo de software a medida, migración a la nube y ciberseguridad, junto con soporte técnico continuo para garantizar la evolución de tu empresa.</p>
              <br/>
              </div>
        </div>
    </section>
